@import url("https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Roboto:wght@300;400;500;700;900&display=swap");
*,
::after,
::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
}

.headingOne {
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 4.2rem;
  color: #362A28;
}

.headingTwo {
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 2.4rem;
  text-align: center;
  color: #49CFC7;
}

.paragraph {
  font-size: 1.4rem;
  line-height: 2.4rem;
  margin: 2rem 0rem;
  text-align: center;
  color: #362A28;
}

.paragraphPink {
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 1.9rem;
  text-align: center;
  color: #E34C93;
}

.imageBox__image {
  width: 80%;
  height: 80%;
  display: block;
  margin: 0 auto;
}

.button {
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 1.4rem;
  border-radius: 2rem;
  margin-top: 2rem;
  padding: 0.3rem 2rem;
  -webkit-box-shadow: 0rem 0rem 2rem 0.5rem #E34C93;
          box-shadow: 0rem 0rem 2rem 0.5rem #E34C93;
  border: none;
  background: none;
  background-color: #E34C93;
  color: #DDDDDD;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

.button:hover {
  background-color: #362A28;
}

.header {
  width: 100vw;
  height: 100vh;
  background-image: url("/images/headerBackground.jpg");
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__paragraph {
  font-size: 1.4rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}

.aboutUs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  max-width: 120rem;
  padding: 5rem 1rem;
  margin: 0 auto;
}

.aboutUs__imageBox {
  margin-top: 2rem;
  width: 100%;
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 120rem;
  padding: 5rem 2rem;
  margin: 0 auto;
}

.gallery__paragraph {
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 2.6rem;
  text-align: center;
  color: #E34C93;
}

.gallery__element {
  width: 90%;
  margin: 2rem auto;
}

.gallery__image {
  width: 100%;
  border-radius: 50%;
  -webkit-box-shadow: 0rem 0rem 2rem 0rem #362A28;
          box-shadow: 0rem 0rem 2rem 0rem #362A28;
}

@media screen and (min-width: 768px) {
  .headingOne {
    font-size: 6rem;
  }
  .headingTwo {
    font-size: 3.2rem;
    text-align: left;
  }
  .button {
    font-size: 2rem;
    padding: 0.3rem 3rem;
  }
  .paragraph {
    text-align: left;
    font-size: 1.8rem;
    line-height: 2.8rem;
  }
  .paragraphPink {
    font-size: 2.6rem;
    text-align: left;
  }
  .header__paragraph {
    font-size: 1.8rem;
  }
  .aboutUs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 5rem 3rem;
  }
  .aboutUs__textBox {
    width: 60%;
  }
  .aboutUs__imageBox {
    width: 40%;
  }
  .gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .gallery__element {
    width: 26%;
    margin: 2rem auto;
  }
  .headingTwo--gallery {
    display: block;
    text-align: center;
    width: 100%;
  }
}
/*# sourceMappingURL=main.css.map */