@media screen and ( min-width: 768px )
    .headingOne
        font-size: 6rem

    .headingTwo
        font-size: 3rem
        text-align: left

    .button
        font-size: 2rem
        padding: 0.3rem 3rem

    .paragraph
        text-align: left
        font-size: 1.8rem
        line-height: 2.8rem

    .paragraphPink
        font-size: 2.2rem
        text-align: left

    .header

        &__paragraph
            font-size: 1.8rem

    .aboutUs
        display: flex
        flex-direction: row
        padding: 5rem 3rem

        &__textBox
            width: 60%

        &__imageBox
            width: 40%